.contact {
  background: $base-black url(../images/bg.png) repeat center;
  background-attachment: fixed;
  text-align: center;
  color: white;
  padding: 100px 0;
  p, a {
    margin: 0;
  }
  p {
    @include chivo;
    font-size: 18px;
    color: white;
  }
  a {
    @include baloo;
    @include transition;
    font-size: 58px;
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Mobile

.contact {
  @include breakpoint(mobile) {
    padding: 50px 0;
    p {
      font-size: 14px;
    }
    a {
      font-size: 28px;
    }
  }
}
