<div class="dropdown-container">
  <button class="btn-language">EN <span>
    <svg width="4px" height="3px" viewBox="28 10 4 3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <polygon stroke="none" fill="#FFFFFF" fill-rule="evenodd" points="30 13 28 10 32 10"></polygon>
    </svg>
  </span></button>
  <ul class="dropdown">
    <li class="active"><a href="#">English</a></li>
    <li><a href="#">Español</a></li>
  </ul>
</div>
